/* 논리속성과 논리값 */
.like {
  background: #ffc;
  inline-size: 200px;
  block-size: 100px;
}
.lion {
  background: #ffc;
  padding-block: 20px;
}
/* position : absolute; top. right, bottom, left */
.bootcamp {
  background: #cff;
  position: relative;
  inline-size: 300px;
  block-size: 100px;

  strong {
    position: absolute;
    background: #ffc;
    /* inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-block-start: 0; */
    inset: 0;
  }
}

.frontend {
  background: #cff;
  strong {
    background: yellowgreen;
    float: inline-end;
  }
}
.euid {
  padding: 10px;
  background: salmon;
  border-block-end: 2px solid blue;
}
