/* 논리속성과 논리값 */
.like {
  background: #ffc;
  inline-size: 200px;
  block-size: 100px;
}
.lion {
  background: #ffc;
  padding-block: 20px;
}
/* position : absolute; top. right, bottom, left */
.bootcamp {
  background: #cff;
  position: absolute;
  block-size: 100px;
  inline-size: 100px;
  inset: 0;
}
